/************************************************************************************
RESET重置
*************************************************************************************/

/*1.样式重置*/

/*清除标签的margin和padding*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
div,
img,
a,
p,
form,
input,
header,
nav,
main,
footer {
    margin: 0;
    padding: 0;
    /*设置盒模型*/
    box-sizing: border-box;
}

/*设置默认字体*/

body {
    background: #E7E1D1;
    font-family: Arial, Helvetica, sans-serif;
}

/*重置a标签去除下划线*/

a,
a:hover {
    color: #666;
    text-decoration: none;
}

/*重置列表*/

ul,
ol {
    list-style: none;
}

/*清除img的边框*/

img {
    border: 0;
}

/*清除表单元素的边框*/

input {
    /*1清楚文本框获取焦点时默认的边框阴影*/
    outline: none;
    /*2去除边框*/
    border: none;
    /*3添加边框*/
    border: 1px solid #ccc;
}

/*添加浮动*/

.fl {
    /*左浮动*/
    float: left;
}

.fr {
    /*右浮动*/
    float: right;
}

/************************************************************************************
STRUCTURE结构
*************************************************************************************/

/************************************************************************************
MENU菜单
*************************************************************************************/

/************************************************************************************
POST帖子
*************************************************************************************/

/************************************************************************************
HEADER头部
*************************************************************************************/

/************************************************************************************
MAIN NAVIGATION主导航
*************************************************************************************/

/************************************************************************************
CONTENT内容
*************************************************************************************/

/************************************************************************************
SIDEBAR侧边栏
*************************************************************************************/

/************************************************************************************
FOOTER页脚
*************************************************************************************/

/************************************************************************************
CLEARFIX清除浮动
*************************************************************************************/

.clearfix::before,
.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
